#thirdSection {
    height: 80vh;

    background: url('assets/danielle-cerullo-CQfNt66ttZM-unsplash.jpg') no-repeat 0 10%, #0006;
    background-size: cover;

    background-blend-mode: multiply;
    padding-top: 2rem;
}

#thirdSection h1 {
    text-align: center;
    color: #e1e1e1;
    font-family: Montserrat;

    font-size: 8rem;
    font-weight: 900;
    
}